@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui;
  --color-primary: #E11D48;
  --color-background: #070708;
}

:root {
  --background: #070708;
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: #070708;
    color: white;
  }
}

@utility bg-background {
  background-color: var(--background);
}

@utility text-foreground {
  color: var(--foreground);
}
